$color-white: #fff;

$color-blue: #009FE3;
$color-blue-2: #1490DF;
$color-blue-3: #2BC6FF;
$color-blue-4:#18A1ED;
$color-blue-5:#14398E;
$color-blue-6:#E7F4FF;
$color-blue-7:#4D6486;
$color-blue-8:#0093CF;
$color-blue-9:#1893CF;
$color-blue-10:#1793CF;

$color-blue-light: #F7F8FB;
$color-blue-light-2: #E2F3FC;

$color-navy-blue: #232B76;
$color-navy-blue-2: #042164;
$color-navy-blue-3:#00004E;
$color-navy-blue-4:#14398E;
$color-navy-blue-5:#1E376C;
$color-navy-blue-6:#4D6486;


$color-black-3: #333333;
$color-black-6: #666666;

$color-gray-light:#707070;
$color-gray-light-2:#F5F5F5;
$color-blue-light-3:#555555;
$color-gray-light-4:#F2F2F5;
$color-gray-light-5:#E0E6ED;
$color-gray-light-6:#F0F5F8;

$color-green:#CAE4D5;
$color-green-2:#359E4A;
$color-green-3:#C3DFD1;

$color-orange:#F88F25;

$color-red:#9E1E21;